---
layout: default
title: Home
---

<div class="profile">
  <img
    src="/assets/me-3712x3712.jpeg"
    alt="joledan"
    width="190"
    height="190"
  />
  <p>
  Jan is an early career professional interested in data for economic development. He is a consultant at the World Bank supporting research on trade, policy, and development through data analysis and visualizations using R and STATA. Previously, Jan was a research specialist at the Empirical Studies of Conflict project at the Princeton School of Public and International Affairs. He has a MA and BA in economics from McGill University. 
  </p>
</div>

<!--
<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <h1 class="post-title">
      <a href="{{ post.url | relative_url }}">
        {{ post.title }}
      </a>
    </h1>

    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>

    {{ post.content }}
  </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | relative_url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: relative_url }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
-->

