---
layout: default
title: Home
---

<h3>hello/kamusta</h3>
<div class="profile">
  <img
    src="/assets/me-3712x3712.jpeg"
    alt="joledan"
    width="140"
    height="140"
  />   
  <p>
  I use data to support economic development policy and research, with a curiosity in data practices, novel data sets, and visualizations. I've worked on projects related to trade, migration, education, and conflict. 
  I do most of my work in R and STATA. 
  </p>
  <br>
</div>
<p>
  Currently, I am a consultant at the Development Research Group of the World Bank. I've contributed to projects on (de-)globalization, global COVID-19 vaccine supply, conflict and gender in India, and trade barriers in Latin America.  
</p>
<p>
  Previously, I was a research specialist at the Empirical Studies of Conflict project at the Princeton School of Public and International Affairs, where I worked on projects related to conflict and COVID-19 misinformation. 
</p>
<p>
  I have a M.A. in Economics (2019) focusing on Development Studies, and a B.A. in Economics and Geography (2018) from McGill University. I am trained in data analysis, econometrics, and GIS. I was born in the Philippines and raised in four countries before settling in Canada.
</p>

Outside of work, I am currently focusing on:
<ul>
  <li>Practicing writing, leaning towards a journalistic style</li>
  <li>Making a portfolio of <a href="https://joledan.github.io/projects/">data projects</a></li>
  <li>Navigating a career in "data for development" outside of academia (it’s all I’ve known!) </li>
</ul>



<!--


<p id="vertical-space">
</p>
Here's my professional, third-person summary, and a nice photo of me:
<br>

<div class="profile">
  <img
    src="/assets/me-3712x3712.jpeg"
    alt="joledan"
    width="190"
    height="190"
  />
  <p>
  Jan is an early career professional interested in data for economic development. He is a consultant at the World Bank supporting research on trade, policy, and development through data analysis and visualizations using R and STATA. Previously, Jan was a research specialist at the Empirical Studies of Conflict project at the Princeton School of Public and International Affairs. He has a M.A. and B.A. in economics from McGill University. 
  </p>
</div>


<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <h1 class="post-title">
      <a href="{{ post.url | relative_url }}">
        {{ post.title }}
      </a>
    </h1>

    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>

    {{ post.content }}
  </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | relative_url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: relative_url }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
-->

