

        <p class="mt-4 mb-3">
                <a href="/changelog" class="link-gray no-underline" data-ga-click="Changelog, go to changelog, text:Changelog">
                  <svg height="16" class="octicon octicon-clock text-blue" aria-label="clock" viewBox="0 0 14 16" version="1.1" width="14"
                    role="img">
                    <path fill-rule="evenodd" d="M8 8h3v2H7c-.55 0-1-.45-1-1V4h2v4zM7 2.3c3.14 0 5.7 2.56 5.7 5.7s-2.56 5.7-5.7 5.7A5.71 5.71 0 0 1 1.3 8c0-3.14 2.56-5.7 5.7-5.7zM7 1C3.14 1 0 4.14 0 8s3.14 7 7 7 7-3.14 7-7-3.14-7-7-7z"></path>
                  </svg>
                  Changelog
                </a>
              </p>
      
              <p class="my-3">
                <a href="/subscribe" class="link-gray no-underline" data-ga-click="Blog, go to subscribe, text:Subscribe">
                  <svg width="12" class="octicon octicon-rss text-orange" aria-label="rss" viewBox="0 0 10 16" version="1.1" height="19" role="img">
                    <path fill-rule="evenodd" d="M2 13H0v-2c1.11 0 2 .89 2 2zM0 3v1a9 9 0 0 1 9 9h1C10 7.48 5.52 3 0 3zm0 4v1c2.75 0 5 2.25 5 5h1c0-3.31-2.69-6-6-6z"></path>
                  </svg>
                  Subscribe
                </a>
              </p>