<div class="my-6 bg-gray-light border rounded-1 box-shadow">
    <strong class="d-flex flex-justify-between flex-items-center py-2 px-3 border-bottom">
      <span>Have feedback on this post? Let
        <a href="https://twitter.com/github">@github</a> know on Twitter.</span>
      <img src="/assets/img/twitter.svg" width="24" height="24">
    </strong>
    <div class="py-2 px-3">
      Need help or found a bug?
      <a href="https://github.com/contact">Contact us.</a>
    </div>
  </div>