<script src="https://styleguide.github.com/assets/animation.js"></script>

<script>
    // Add active class to the current button (highlight it) 
    // https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_active_element
    var header = document.getElementById("myDIV");
    var btns = header.getElementsByClassName("btn");
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function () {
            var current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active", "");
            this.className += " active";
        });
    }
</script>
