{% if site.data.navigation %}
<nav class="menu">
            {%- for link in site.data.navigation -%}
            {%- if link.url contains '://' -%}
              {%- assign url = link.url -%}
            {%- else -%}
              {%- assign url = link.url | relative_url -%}
            {%- endif -%}
            <a class="menu-item" href="{{ url }}">{{ link.title }}</a>
          {%- endfor -%}
          
    <a class="menu-item" href="/" data-ga-click="Blog nav, go to Featured, text:Featured">
        Featured
    </a>

    <a class="menu-item " href="/category/all/" data-ga-click="Blog, go to All Posts, text:All Posts">
        All Posts
    </a>

    <a class="menu-item selected" href="/category/announcements/" data-ga-click="Blog, go to Announcements, text:Announcements">
        Announcements
    </a>
</nav>
{% endif %}