// Masthead
//
// Super small header above the content for site name and short description.
body {
  border-top: 4px solid $orange; 
}
.masthead {
  padding-top:    1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid $gray-0;
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  color: $gray-4;
  font-family: $font-family-roboto;
  a {
    color: inherit;
  }

  small {
    font-size: 75%;
    font-weight: 400;
    opacity: .5;
  }

  h3 {
    font-size: 52px;
  }
}
