<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    <div class="container content">
      <div class="masthead">
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}" title="Home">{{ site.title }}</a>
          <small>{{ site.tagline }}</small>
        </h3>
      </div>

       
      {{ content }}

      <div class="footer">
       <p>  </p>
        <p>
          &copy; {{ site.time | date: '%Y' }} Pouya Kary. All rights reserved.<br>
          <a href="http://kary.us/information/">Information</a> • <a href="http://kary.us/projects/">Projects</a> •kdljf
          <a href="http://kary.us/artworks/">Artworks</a> • <a href="http://kary.us/internet/">Internet</a> • 
          <a href="http://github.com/pmkary">GitHub</a> • <a href="mailto:k@arendelle.org">Mail</a><br>
        </p>
      </div>
    </div>

  </body>
</html>
