<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
            content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>


      <footer class="footer">
        <small>
          🎉 <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
        </small>
      </footer>
    </div>

     <script>
        // loop through all list items with a date
        $('span[date]').each(function(){
          // create a postDate in a date object
          var datePublished = new Date($(this).attr('datePublished'));
          // create an object with the date of one week ago
          var oneWeekAgo = new Date();
          oneWeekAgo.setDate(oneWeekAgo.getDate() - 7);
          // compare dates and hide old posts
          if(postDate<oneWeekAgo) $(this).hide();
        });
     </script>



  </body>
</html>
