<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    <div class="container content">
      <div class="masthead">
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}" title="Home">{{ site.title }}</a>
          <small>{{ site.tagline }}</small>
        </h3>
      </div>

       
      {{ content }}

      <div class="footer">
       <p>  </p>
        <p>
          &copy; {{ site.time | date: '%Y' }} Pouya Kary. All rights reserved.<br>
          <a href="http://kary.us/information/">Information</a> • <a href="http://kary.us/projects/">Projects</a> • <a href="http://kary.us/artworks/">Artworks</a> • <a href="http://kary.us/internet/">Internet</a> • <a href="http://github.com/pmkary">GitHub</a> • <a href="mailto:k@arendelle.org">Mail</a><br>
        </p>
      </div>
    </div>


    <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'pmkary'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
  </body>
</html>
