---
layout: default
---

<article class="post" itemscope="" itemtype="http://schema.org/BlogPosting>
  <meta itemprop="keywords" content="{{ post.categories | join: ',' }}" />
  <meta itemprop="description" content="{{ content | strip_html | truncatewords: 40 }}" />
  <h1 class="post-title" itemprop="name">{{ page.title }}</h1>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date" itemprop="datePublished">{{ page.date | date_to_string }}</time>
  <div  itemprop="articleBody">{{ content }}</div>
</article>

{% if site.related_posts != empty %}
<aside class="related">
  <h3>Related posts</h3>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
          <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small>
        </a>
      </li>
    {% endfor %}
  </ul>
</aside>
{% endif %}
